:root {
  --bg-color: #ffffff;
  --text-color: #444444;
}


[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #f0f0f0;
}


body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 0 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s; /* Suaviza a troca de cor */
    

}

header h1::before {
    content: ''; /* Add content before the heading */
    display: inline-block;
    width: 32px; /* Adjust the width of the icon */
    height: 32px; /* Adjust the height of the icon */
    background: url('https://cdn-icons-png.flaticon.com/512/6025/6025628.png') no-repeat; /* Use the favicon as background */
    background-size: cover; /* Cover the entire icon area */
}

header h1::after {
    content: ''; /* Add content before the heading */
    display: inline-block;
    width: 32px; /* Adjust the width of the icon */
    height: 32px; /* Adjust the height of the icon */
    background: url('https://cdn-icons-png.flaticon.com/512/6025/6025628.png') no-repeat; /* Use the favicon as background */
    background-size: cover; /* Cover the entire icon area */
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}